img{
  width:10%;
}

.AddressCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ButtonGroup{
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}
.ReadModal{
  width: 3rem;
}
.ReadModalButton{
  width: 207px;
  margin-bottom: .25rem;
}
#item{
  margin-bottom: .25rem;
}